body {
  margin: 0;
  font-family: Montserrat;
  /* overflow-x: hidden; */
}

.navbar-light {
  height: 70px;
  background-color: #141414;
  justify-content: space-between;
  align-items: center;
}

.personal_area {
  margin-right: 3%;
  display: flex;
}

.navbar-brand {
  color: white;
  transition: color 0.3s;
}

.navbar-brand:hover {
  color: #E8AA31;
}

.lower_header {
  height: 90px;
  background-color: #ECF1F2;
  align-items: center;
  justify-content: space-between;
}

.header_input {
  margin-left: 35%;
  border-radius: 3px;
  padding-left: 5%;
  background-color: #eaecec;
  height: 41px;
  width: 150%;
}

.navbar-brand-second {
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
  transition: color 0.3s;
}

.list_second {
  margin-left: 2%;
  margin-right: 1%;
  justify-content: space-around;
}

.navbar-brand-second:hover {
  color: #E8AA31 !important;
}

.last_header {
  background-image: url('Mask\ Group\ \(4\).png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  width: 100%;
  height: 730px;
  background-color: #161616;
}

.card_buy_botton:hover,
.last_header button:hover {
  box-shadow: 0 0 10px #E8AA31;
}

.li_marker {
  font-size: 18px;
  font-weight: 500;
}

.footer-link:hover,
.li_marker::marker {
  color: #E8AA31;
}

.card_ctalog {
  width: 411.04px;
  height: 210px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.card_ctalog:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
}

.img_card:hover {
  width: 18px;
  height: 18px;
}

.card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.new-items{
  background-image: url('Mask\ Group\ \(3\).png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-left: 12%;
  padding-top: 3%;
}


.items-text1{
  color: white;
  font-weight: 700;
  font-size: 30px;
}


.items-text2{
  color: white;
  font-size: 18px;
  opacity: 0.5;
}

.tactical-flashlights{
  width: 680px;
  height: 273px;
  background-image: url('imj/351\ 1.png'); 
  background-size: 65%; 
  background-position: 230px;  
  background-repeat: no-repeat; 
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.multi-flashlights{
  width: 680px;
  height: 273px;
  background-image: url('imj/fish_fonar\ 1.png'); 
  background-size: 65%; 
  background-position: 230px;  
  background-repeat: no-repeat; 
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  transition: all 1s ease;
}

.multi-flashlights:hover,
.tactical-flashlights:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

footer{
  background-color: #141414;
}

.first-footer{
  background-image: url('imj/foot-1.png');
  background-position: -6px;  
  background-repeat: no-repeat; 

}

.first-footer p{
  color: #FFFFFF;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
}

.footer-inform{
  color: white; 
  padding-top: 5%;
}

.title{
 font-size: 18px;
 font-weight: 600;
}

.input-footer{
  padding: 2%;
  width: 250px;
  color: white;
  background-color: #272727;
  border: 1px solid white;
}

.burger-button {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.burger-button span {
  height: 3px;
  width: 25px;
  background-color: #999696;
  margin: 3px 0;
  border-radius: 3px;
}

@media (max-width: 1000px) {
  .personal_area .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .locaction_and_inform {
    display: none;
  }
}

@media (max-width: 1333px) {
  .header_input {
    display: none;
  }
}

@media (max-width: 894px) {
  .location1 {
    display: none;
  }
}


@media (max-width: 795px) {
  .numb1 {
    display: none;
  }
}


@media (max-width: 627px) {
  .order1 {
    display: none;
  }
}

@media (max-width: 598px) {
  .navbar-brand-second {
    font-size: small !important;
  }
}

@media (max-width: 507px) {
  .navbar-brand-second {
    display: none;
  }

  header .last_header {
    height: 1000px;
  }
}

@media (max-width: 1289px) {
  header .last_header {
    background-image: none;
  }
}

@media (max-width: 320px) {
  header .last_header {
    background-image: url("imj/Group\ 146.png");
  }

  header {
    width: 420px;
  }

  .header-bottom {
    display: none;
  }
}

@media (max-width: 569px) {
  header {
    width: 595px;

  }
}


.d-flex.flex-column.align-items-center {
  width: 25%;

}


@media (max-width: 1023px) {
  .d-flex.flex-column.align-items-center {
    width: 40%;
    margin-top: 50px;
  }

  header .last_header {
    height: 1000px;
  }
}

@media (max-width: 660px) {
  .d-flex.flex-column.align-items-center {
    width: 40%;
    margin-top: 50px;
    margin-right: 30px;
  }

  header .last_header {
    height: 1150px;
  }
}

@media (max-width: 310px) {
  .d-flex.flex-column.align-items-center {
    width: 70%;

  }

  header .last_header {
    height: 1450px;
  }
}

@media (max-width: 1405px) {
  .first_catalog {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card_ctalog {
    margin-top: 5%;
  }
}

@media (max-width: 575px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }

}

@media (max-width: 447px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }

}

@media (max-width: 436px) {

  .card-knife,
  .first_catalog {
    padding-left: 8em;
  }

}

@media (max-width: 500px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }
}


@media (max-width: 530px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }
}

@media (max-width: 450px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }

}

@media (max-width: 400px) {

  .card-knife,
  .first_catalog {
    padding-left: 5em;
  }

}

@media (max-width: 375px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }

}

@media (max-width: 372px) {

  .card-knife,
  .first_catalog {
    padding-left: 5em;
  }
}

@media (max-width: 127px) {

  .card-knife,
  .first_catalog {
    padding-left: 3em;
  }
}

@media (max-width: 1414px) {
  .mt-5.row {
    margin-top: 5%;
  }

  .card {
    margin: 20px 10px 20px;

  }
}

@media (max-width: 1060px) {
  .mt-5.row {
    margin-left: 10%;
    margin-right: 10%;
  }

  .card {
    margin: 20px 10px 20px;

  }
}

@media (max-width: 910px) {
  .card-knife {
    padding-left: 15%;
  }
}

@media (max-width: 920px) {
  .hiti {
    padding-left: 3em;
  }

  .hiti2 {
    display: none;
  }
}

@media (max-width: 757px) {
  .hiti {
    margin-left: 1em;
  }

  .card-knife {
    padding-left: 3em;
  }
}

@media (max-width: 380px) {
  .card-knife {
    margin-left: 50px;
  }
}

@media (max-width: 400px) {
  .hiti {
    margin-left: 3em;
  }

  .card-knife {
    padding-left: 3em;
  }
}

@media (max-width: 1523px) {
  .new-items {
    display: none !important;
  }

}

@media (max-width: 568px) {
  footer {
    width: 600px;
  }
}

@media (max-width: 972px) {
  .footer-block1 {

    align-items: center;
  }

}

@media (max-width: 1200px) {
  .loka {
   width: 300px;
  }
}




/* 
.navbar-toggler {
  border-color: white;
  background-color: white;
}

.navbar-toggler-icon {
  background-color: white; 
} */
